<ion-toolbar class="myTool">
  <ion-button color="dark" fill="outline" slot="start">
    <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
  </ion-button>
  <ion-title class="text item1" color="dark" size="small"
    >LOCALIZAÇÃO</ion-title
  >
  <ion-title class="text item2" size="small">Salvador, Bahia</ion-title>
  <ion-avatar slot="end">
    <img src="https://i.stack.imgur.com/l60Hf.png" />
  </ion-avatar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <p class="text item3">Bom dia, Beatriz</p>
    <p class="text item4">Como está se sentindo hoje?</p>
  </div>
  <ion-searchbar
    placeholder="Pesquise sintomas ou médicos"
    class="searchbar"
  ></ion-searchbar>

  <div class="containerScroll">
    <div class="scroll" scrollLeft="true">
      <ion-chip
        id="{{sintoma.id}}"
        (click)="selectSintoma(sintoma)"
        outline
        color="medium"
        *ngFor="let sintoma of sintomas"
      >
        <ion-label>{{sintoma.name}}</ion-label>
      </ion-chip>
    </div>
  </div>

  <div id="selectedSintomas" class="expand">
    <ion-chip
      id="{{sintoma.id}}"
      outline
      color="secondary"
      *ngFor="let sintoma of selectedSintomas"
      (click)="deleteSintoma(sintoma)"
    >
      <ion-label>{{sintoma.name}}</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </div>

  <ion-button></ion-button>

  <div class="container">
    <div class="poster">
      <p class="text item5">Cuide da sua saúde mental durante a pandemia</p>
      <p class="text item3">Participe do nosso evento online com psicológos</p>

      <div class="buttonContainer">
        <ion-button class="button" size="small">Participe</ion-button>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <p class="text item7">Próximas consultas</p>
        </ion-col>
        <ion-col size="4">
          <a href="#">
            <p class="text item6">Ver mais</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="containerScroll">
      <div class="scroll" scrollX="true">
        <div class="flex">
          <app-consultation-card
            *ngFor="let c of consultations"
            [consultationItem]="c"
          ></app-consultation-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
